#waybar {
	background: repeating-linear-gradient(
  		0.25turn,
  		#082100 5px,
  		#22391b 10px,
  		#082100 15px
	);
        font-family: "Iosevka NF";
        
        color: #2db300;
        border: 2px solid #2aff36;
        border-radius: 11px;
}

#wireplumber,
#cpu,
#cpu-frequency,
#battery,
#clock,
#memory,
#disk,
#mpdcontrols,
#poweroptions
{
	border: 2px solid #2aff36;
	/*margin: 3px;*/
	min-height: 0;

	margin-left: 4px;
        margin-right: 4px;
        margin-top: 7px;
        margin-bottom: 7px;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
	border-radius: 4px;
}

#custom-trayadvisory {
	margin: 3px 10px 3px;
}

/*#poweroptions {
	border: 2px solid #2aff36;
	border-radius: 11 11 11 11px;
        min-height: 0;
        padding: 6px;
}*/

#poweroptions {
        margin-right: 10px;
        padding-left: 8px;
}

#workspaces {
	border: 0.2em solid #2aff36;
}

#battery.warning {
        background: repeating-linear-gradient(
        0.25turn,
        #7b7537 20px,
        #a18f48 30px,
        #7b7537 40px
        );
        color: #cfceb4
}

#battery.critical,
#battery.dead {
        background: repeating-linear-gradient(
        0.25turn,
        #7b3737 20px,
        #a14848 30px,
        #7b3737 40px
        );
        color: #cfb4b4
}

#battery.charging {
	background: repeating-linear-gradient(
  	0.25turn,
  	#37757b 20px,
  	#4899a1 30px,
  	#37757b 40px
	);
	color: #b4cccf
}

#mpd.playing {
	        background: repeating-linear-gradient(
                0.25turn,
                #824554 5px,
                #9d5566 10px,
                #824554 15px
        );
	color: #CFB4BA;
}

#cpu.highcpu {
	background: repeating-linear-gradient(
                0.25turn,
                #824554 5px,
                #9d5566 10px,
                #824554 15px
        );
	color: #CFB4BA;
}