input {
    keyboard {
        xkb {
            layout "us"
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        natural-scroll
        accel-profile "flat"
        click-method "clickfinger"
        scroll-factor 0.300000
    }
    mouse { accel-profile "flat"; }
    trackpoint { accel-profile "flat"; }
    focus-follows-mouse
    disable-power-key-handling
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring {
        width 2
        active-color "rgb(203 166 247)"
        inactive-color "rgb(68 12 136)"
    }
    border { off; }
    default-column-width
    center-focused-column "never"
}
cursor {
    xcursor-theme "default"
    xcursor-size 24
}
hotkey-overlay { skip-at-startup; }
environment { DISPLAY ":0"; }
binds {
    Alt+Print { screenshot-window; }
    Ctrl+Print { screenshot-screen; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+C { center-column; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+I { move-column-to-workspace-up; }
    "Mod+Ctrl+Page_Down" { move-column-to-workspace-down; }
    "Mod+Ctrl+Page_Up" { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+D { spawn "foot" "--title" "launch" "--app-id" "fzf-launcher-foot" "bash" "-c" "niri msg action spawn -- bash -c \"$(compgen -c | sort -u | fzf --bind=enter:replace-query+print-query) >/dev/null\""; }
    Mod+Down { focus-window-down; }
    Mod+End { focus-column-last; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { maximize-column; }
    Mod+H { focus-column-left; }
    Mod+Home { focus-column-first; }
    Mod+I { focus-workspace-down; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+N { spawn "swaync-client" "-t"; }
    "Mod+Page_Down" { focus-workspace-down; }
    "Mod+Page_Up" { focus-workspace-up; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Return { spawn "foot"; }
    Mod+Right { focus-column-right; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Mod+Shift+Down { move-window-down; }
    Mod+Shift+E { quit; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+I { move-workspace-up; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+P { power-off-monitors; }
    "Mod+Shift+Page_Down" { move-workspace-down; }
    "Mod+Shift+Page_Up" { move-workspace-up; }
    Mod+Shift+Q repeat=false { close-window; }
    Mod+Shift+R { reset-window-height; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Space { toggle-window-floating; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+Up { move-window-up; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+T { spawn "foot" "--title" "music" "--app-id" "mpd-control-foot" "ncmpcpp"; }
    Mod+U { focus-workspace-up; }
    Mod+Up { focus-window-up; }
    Mod+V { spawn "/home/alyx/.config/nixos/home/wooz"; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Print { screenshot; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioStop { spawn "playerctl" "stop"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "s" "10%-"; }
    XF86MonBrightnessUp { spawn "brightnessctl" "s" "+10%"; }
}
spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/alyx/.config/nixos/assets/scenes.jpg"
spawn-at-startup "udiskie" "--appindicator"
spawn-at-startup "kanshi"
spawn-at-startup "swaync"
window-rule {
    match title="^launch$"
    open-floating true
}
window-rule {
    match title="^music$"
    open-floating true
}
window-rule {
    match title="^(Picture-in-Picture)$"
    open-floating true
}
window-rule {
    match title="^music$"
    open-floating true
}
window-rule {
    draw-border-with-background false
    geometry-corner-radius 12.000000 12.000000 12.000000 12.000000
    clip-to-geometry true
}
animations { slowdown 0.500000; }